$primary: (
  "marine-blue": hsl(213, 96%, 18%),
  "purplish-blue": hsl(243, 100%, 62%),
  "pastel-blue": hsl(228, 100%, 84%),
  "light-blue": hsl(206, 94%, 87%),
  "strawberry-red": hsl(354, 84%, 57%),
);
$secondary: (
  "cool-gray": hsl(231, 11%, 63%),
  "light-gray": hsl(229, 24%, 87%),
  "magnolia": hsl(217, 100%, 97%),
  "alabaster": hsl(231, 100%, 99%),
);
%checked input:is([type="radio"], .cb) {
  outline: 1px solid map-get($secondary, "light-gray");
  outline-offset: -1px;
  &:checked,
  &:hover {
    outline: 1px solid map-get($primary, "marine-blue");
  }
}
%transition-base {
  transition: 0.3s;
}
// backgrounds
body {
  background-color: map-get($secondary, "magnolia");
}
.wrapper {
  background-color: white;
}
form {
  background-color: white;
  @extend %checked;
}
.plan,
.addons {
  input:not(.charge):checked {
    @extend %transition-base;
    z-index: -1;
    background-color: transparentize(map-get($secondary, "light-gray"), 0.6);
  }
}
.charge-option {
  background-color: map-get($secondary, "light-gray");
  color: map-get($secondary, "magnolia");
  .charge {
    background-color: map-get($primary, "marine-blue");
  }
}
.sum-up {
  background-color: map-get($secondary, "magnolia");
}
.next {
  @extend %transition-base;
  background-color: map-get($primary, "marine-blue");
  color: white;
  border: none;
  &:hover {
    background-color: map-get($primary, "purplish-blue");
  }
}
.previous {
  @extend %transition-base;
  color: map-get($secondary, "light-gray");
  &:hover {
    color: map-get($primary, "marine-blue");
  }
}
// text
.step {
  &.light-up::before {
    color: black;
  }
  &::before,
  &::after {
    color: white;
  }
  @media (min-width: 1200px) {
    &.light-up::before {
      background-color: map-get($primary, "pastel-blue");
    }
  }
}
.req {
  color: map-get($secondary, "cool-gray");
}
::placeholder {
  color: map-get($secondary, "cool-gray");
}
label::before {
  @extend .previous;
  font-weight: 400;
}
label::after {
  color: map-get($primary, "marine-blue");
}
.total-cost {
  color: map-get($primary, "marine-blue");
}
.total .total-cost {
  color: map-get($primary, "purplish-blue");
}
.main {
  &-plan,
  &-price {
    @extend .total-cost;
  }
}
.change,
.order {
  color: map-get($secondary, "cool-gray");
  @extend %transition-base;
}
fieldset.thank-you {
  .thanks {
    color: map-get($primary, "marine-blue");
  }
  .final-message {
    @extend .change;
  }
}
.validation.fail::after {
  color: map-get($primary, "strawberry-red");
}
input.fail {
  outline: 2px solid map-get($primary, "strawberry-red");
  outline-offset: 1px;
}
.change:hover {
  color: map-get($primary, "marine-blue");
}
