%fw700 {
  font-weight: 700;
}
%fw500 {
  font-weight: 500;
}
.step {
  @extend %fw700;
}
legend {
  @extend %fw700;
  font-size: 1.7rem;
}
::placeholder {
  @extend %fw500;
}
label {
  @extend %fw700;
  font-size: 0.85rem;
}

.charge-option,
.validation.fail::after {
  text-transform: capitalize;
}
.navigation {
  font-weight: 600;
}
.total-cost {
  @extend %fw700;
  font-size: 1.2rem;
}
.main {
  &-plan,
  &-price {
    @extend %fw700;
  }
}
fieldset.thank-you {
  text-align: center;
  .thanks {
    @extend %fw700;
    font-size: max(3vw, 2.2rem);
  }
}
.addons *::after {
  @extend %fw500;
}
.validation.fail::after {
  content: "this field is required";
  margin-inline-start: auto;
}
